# Python Bytecode
__pycache__/
*.py[cod]

# Virtual Environment
venv/
env/

# Django/Migrations
db.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.pdb

# Media & Static Files
media/
staticfiles/

# VS Code / PyCharm Settings
.vscode/
.idea/
*.sublime-workspace

# Environment Variables & Secrets
.env
*.pem
# Project exclude paths
/.venv/